@import './styles/variables.css';
@import './styles/glassmorphism.css';
@import './styles/canvas.css';
@import './styles/schedule.css';
@import './styles/landing.css';

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
